Repository NRCHKB/NRCHKB.github.io, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Shaquu, @caitken-com, @crxporter, @TheNON75

.github/CODEOWNERS:

*       @Shaquu
*.js    @Shaquu @caitken-com
*.css    @Shaquu @caitken-com
*.md    @Shaquu @caitken-com @crxporter @TheNON75
*.png    @Shaquu @caitken-com @crxporter @TheNON75
*.jpg    @Shaquu @caitken-com @crxporter @TheNON75

deploy: e4eb33f8c5e0d14bad93ce99e1bdd60168613f30
  sitemap.xml
  wiki/discover-more/changelog/index.html
  wiki/discover-more/sitemap.xml
  wiki/sitemap.xml
Owners: @Shaquu

Update test.yml
  .github/workflows/test.yml
Owners: @Shaquu

deploy: 8bd368982a3e9843bc0ac6d2d0a4474e3d852731
  sitemap.xml
  wiki/discover-more/changelog/index.html
  wiki/discover-more/sitemap.xml
  wiki/sitemap.xml
Owners: @Shaquu

Adding journalctl instructions
  content/wiki/discover-more/experimental/index.md
Owners: @Shaquu, @caitken-com, @crxporter, @TheNON75

deploy: 8e8574620dd9c034445dd1e23c5edf14b148a743
  sitemap.xml
  wiki/discover-more/changelog/index.html
  wiki/discover-more/experimental/index.html
  wiki/discover-more/sitemap.xml
  wiki/sitemap.xml
Owners: @Shaquu

chore: updated contributors
  content/wiki/discover-more/changelog.md
  content/wiki/examples/esp/index.md
  content/wiki/service/filter-maintenance/index.md
  content/wiki/service/humidity-sensor/index.md
  content/wiki/service/irrigation-system/index.md
  content/wiki/service/television/index.md
  data/nrchkb/contributors.json
Owners: @Shaquu, @caitken-com, @crxporter, @TheNON75

chore: docsearch and other deps update
  layouts/partials/footer/script-footer.html
  layouts/partials/head/stylesheet.html
  package.json
  yarn.lock
Owners: @Shaquu

chore(release): 1.50.0
  CHANGELOG.md
  data/nrchkb-site.json
  package.json
Owners: @Shaquu, @caitken-com, @crxporter, @TheNON75

fix: docsearch not working after upgrade
  assets/js/index.js
  assets/scss/app.scss
  assets/scss/common/_dark.scss
  assets/scss/components/_comments.scss
  assets/scss/components/_forms.scss
  assets/scss/components/_search.scss
  assets/scss/layouts/_header.scss
  config/postcss.config.js
  layouts/partials/footer/script-footer.html
  layouts/partials/header/header.html
Owners: @Shaquu, @caitken-com

chore(release): 1.50.1
  CHANGELOG.md
  data/nrchkb-site.json
  package.json
Owners: @Shaquu, @caitken-com, @crxporter, @TheNON75

fix: docsearch form position
  assets/scss/layouts/_header.scss
Owners: @Shaquu

chore(release): 1.50.2
  CHANGELOG.md
  data/nrchkb-site.json
  package.json
Owners: @Shaquu, @caitken-com, @crxporter, @TheNON75

deploy: d6401a5bab476ac15de149c857c9bedb239cc8d9
  sitemap.xml
  wiki/discover-more/changelog/index.html
  wiki/discover-more/sitemap.xml
  wiki/sitemap.xml
Owners: @Shaquu

fix: docsearch form position (with css whitelist)
  assets/scss/app.scss
  assets/scss/components/_search.scss
  assets/scss/layouts/_header.scss
  config/postcss.config.js
Owners: @Shaquu, @caitken-com

chore(release): 1.50.3
  CHANGELOG.md
  data/nrchkb-site.json
  package.json
Owners: @Shaquu, @caitken-com, @crxporter, @TheNON75

Layout Change
  assets/scss/layouts/_pages.scss
Owners: @Shaquu

Update _global.scss
  assets/scss/common/_global.scss
Owners: @Shaquu

Update _global.scss
  assets/scss/common/_global.scss
Owners: @Shaquu

Update _global.scss
  assets/scss/common/_global.scss
Owners: @Shaquu

lint fixes
  assets/scss/common/_global.scss
Owners: @Shaquu

fix deploy-preview url
  netlify.toml
Owners: @Shaquu

fix linting issues
  content/wiki/discover-more/experimental/index.md
  content/wiki/examples/esp/index.md
Owners: @Shaquu, @caitken-com, @crxporter, @TheNON75

deploy: a1b7fa59558a5d968c048281b7fbbd3521cc2075
  contributors/gogovega/index.html
  sitemap.xml
  wiki/discover-more/changelog/index.html
  wiki/discover-more/experimental/index.html
  wiki/discover-more/sitemap.xml
  wiki/examples/esp/index.html
  wiki/examples/sitemap.xml
  wiki/sitemap.xml
Owners: @Shaquu

deploy-preview HUGO_ENV
  netlify.toml
Owners: @Shaquu

deploy: 53aa2cfedb864d25493ad69d56ba8756c3bbd5e8
  sitemap.xml
  wiki/discover-more/changelog/index.html
  wiki/discover-more/sitemap.xml
  wiki/sitemap.xml
Owners: @Shaquu

Improved "by" section on wiki pages
  layouts/partials/main/wiki-meta.html
Owners: @Shaquu
