Repository NRCHKB/NRCHKB.github.io, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Shaquu, @caitken-com, @crxporter, @TheNON75

deploy: c6a3a48e1feacb26ed36f57c694f40019ff871e8
  contributors/gogovega/index.html
  contributors/gogovega/index.xml
  sitemap.xml
  wiki/discover-more/changelog/index.html
  wiki/discover-more/sitemap.xml
  wiki/service/filter-maintenance/filter_maintenance_basic_principle_advanced_example.png
  wiki/service/filter-maintenance/filter_maintenance_basic_principle_example.png
  wiki/service/filter-maintenance/index.html
  wiki/service/sitemap.xml
  wiki/sitemap.xml
Owners: @Shaquu

deploy: 44a0e098847cfe7ef17b1fa4b85a2049d32e8735
  sitemap.xml
  wiki/discover-more/changelog/index.html
  wiki/discover-more/sitemap.xml
  wiki/service/doorbell/index.html
  wiki/service/sitemap.xml
  wiki/sitemap.xml
Owners: @Shaquu

feat: Punt op de lijn and Translate to Valve
  content/wiki/service/valve/index.md
Owners: @Shaquu, @caitken-com, @crxporter, @TheNON75

Add files via upload
  content/wiki/service/valve/valve_omron_plc_program_example.png
Owners: @Shaquu

deploy: e76dfbb500424709c46f666f7e60aba6ffb0a0ec
  contributors/andi1968/index.html
  contributors/andi1968/index.xml
  contributors/gogovega/index.html
  contributors/ptath/index.html
  contributors/ptath/index.xml
  sitemap.xml
  wiki/discover-more/changelog/index.html
  wiki/discover-more/sitemap.xml
  wiki/service/sitemap.xml
  wiki/service/valve/index.html
  wiki/service/valve/valve_omron_plc_program_example.png
  wiki/sitemap.xml
Owners: @Shaquu

fix: omron images display
  content/wiki/examples/omron-plc/index.md
  content/wiki/examples/omron-plc/omron_plc_buffer_parser_example.png
Owners: @Shaquu, @caitken-com, @crxporter, @TheNON75

Changes to headers
  content/wiki/examples/omron-plc/index.md
Owners: @Shaquu, @caitken-com, @crxporter, @TheNON75

deploy: a786088350318c93c5e7b970b73a5d9cbb1e5983
  contributors/gogovega/index.html
  sitemap.xml
  wiki/discover-more/changelog/index.html
  wiki/discover-more/sitemap.xml
  wiki/examples/omron-plc/index.html
  wiki/examples/omron-plc/omron_plc_buffer_parser_example.png
  wiki/examples/sitemap.xml
  wiki/sitemap.xml
Owners: @Shaquu

feat: Added Basic Principle to Humidity Sensor
  content/wiki/service/humidity-sensor/index.md
Owners: @Shaquu, @caitken-com, @crxporter, @TheNON75

Add files via upload
  content/wiki/service/humidity-sensor/humidity_sensor_basic_principle_example.png
  content/wiki/service/humidity-sensor/humidity_sensor_sonoff_tasmota_example.png
Owners: @Shaquu

Adding contribute instructions link
  README.md
Owners: @Shaquu, @caitken-com, @crxporter, @TheNON75

deploy: d17046f0880cce5a6c64b93fc8edf067512a9cc5
  contributors/gogovega/index.html
  contributors/gogovega/index.xml
  sitemap.xml
  wiki/discover-more/changelog/index.html
  wiki/discover-more/sitemap.xml
  wiki/service/humidity-sensor/humidity_sensor_basic_principle_example.png
  wiki/service/humidity-sensor/humidity_sensor_sonoff_tasmota_example.png
  wiki/service/humidity-sensor/index.html
  wiki/service/sitemap.xml
  wiki/sitemap.xml
Owners: @Shaquu

feat: Update function node for Humidity Sensor
  content/wiki/service/humidity-sensor/index.md
Owners: @Shaquu, @caitken-com, @crxporter, @TheNON75

deploy: 44b5dd63925afe7afb0c3e31bfedd6516dd88703
  contributors/gogovega/index.html
  sitemap.xml
  wiki/discover-more/changelog/index.html
  wiki/discover-more/sitemap.xml
  wiki/service/humidity-sensor/index.html
  wiki/service/sitemap.xml
  wiki/sitemap.xml
Owners: @Shaquu

feat: Added ESP Page
  content/wiki/examples/esp-configuration.md
Owners: @Shaquu, @caitken-com, @crxporter, @TheNON75

feat: Faucet Service
  content/wiki/service/faucet/index.md
Owners: @Shaquu, @caitken-com, @crxporter, @TheNON75

Update index.md
  content/wiki/service/heater-cooler/index.md
Owners: @Shaquu, @caitken-com, @crxporter, @TheNON75

Update index.md
  content/wiki/service/faucet/index.md
Owners: @Shaquu, @caitken-com, @crxporter, @TheNON75

Changed screenshot to new flow
  content/wiki/service/faucet/faucet_basic_principle_example.png
  content/wiki/service/faucet/index.md
Owners: @Shaquu, @caitken-com, @crxporter, @TheNON75

Better example and icons for faucet status
  content/wiki/service/faucet/faucet_basic_principle_example.png
  content/wiki/service/faucet/icons/big/faucet_off.png
  content/wiki/service/faucet/icons/big/faucet_running.png
  content/wiki/service/faucet/icons/big/faucet_starting.png
  content/wiki/service/faucet/icons/big/faucet_stopping.png
  content/wiki/service/faucet/icons/small/faucet_off.png
  content/wiki/service/faucet/icons/small/faucet_running.png
  content/wiki/service/faucet/icons/small/faucet_starting.png
  content/wiki/service/faucet/icons/small/faucet_stopping.png
  content/wiki/service/faucet/index.md
Owners: @Shaquu, @caitken-com, @crxporter, @TheNON75

Added single valve example
  content/wiki/service/faucet/faucet_single_valve_example.png
  content/wiki/service/faucet/faucet_with_heater_multi_valve_example.png
  content/wiki/service/faucet/index.md
Owners: @Shaquu, @caitken-com, @crxporter, @TheNON75

deploy: 53ad074f59b2a2d4091b1d30209491cc5e8f853c
  sitemap.xml
  wiki/discover-more/changelog/index.html
  wiki/discover-more/sitemap.xml
  wiki/sitemap.xml
Owners: @Shaquu

added note to use standalone accessories
  content/wiki/service/irrigation-system/index.md
  content/wiki/service/television/index.md
Owners: @Shaquu, @caitken-com, @crxporter, @TheNON75

Update esp-configuration.md
  content/wiki/examples/esp-configuration.md
Owners: @Shaquu, @caitken-com, @crxporter, @TheNON75

deploy: c6dee3ad82578854cc6236e8c27d43de5e6dd505
  sitemap.xml
  wiki/discover-more/changelog/index.html
  wiki/discover-more/sitemap.xml
  wiki/service/irrigation-system/index.html
  wiki/service/television/index.html
  wiki/sitemap.xml
Owners: @Shaquu

added first draft for automatically add lastmod
  .github/workflows/deploy-github.yml
  package.json
  utils/generateLastmod.js
Owners: @Shaquu, @caitken-com

Update esp-configuration.md
  content/wiki/examples/esp-configuration.md
Owners: @Shaquu, @caitken-com, @crxporter, @TheNON75

Round one of Porter edits
  content/wiki/examples/esp-configuration.md
Owners: @Shaquu, @caitken-com, @crxporter, @TheNON75

Update esp-configuration.md
  content/wiki/examples/esp-configuration.md
Owners: @Shaquu, @caitken-com, @crxporter, @TheNON75

Add files via upload
  content/wiki/examples/esp_basic_principle_example.png
  content/wiki/examples/esp_mqtt_properties_example.png
  content/wiki/examples/esp_mqtt_server_configuration_example.png
  content/wiki/examples/esp_mqtt_server_login_configuration_example.png
Owners: @Shaquu

Update index.md
  content/wiki/service/faucet/index.md
Owners: @Shaquu, @caitken-com, @crxporter, @TheNON75

also parse contributors and creation date from git
  .github/workflows/deploy-github.yml
  .github/workflows/test.yml
  utils/generateLastmod.js
Owners: @Shaquu, @caitken-com

Delete esp-configuration.md
  content/wiki/examples/esp-configuration.md
Owners: @Shaquu, @caitken-com, @crxporter, @TheNON75

Create esp_basic_principle_example.png
  content/wiki/examples/esp/esp_basic_principle_example.png
Owners: @Shaquu

Create esp_mqtt_properties_example.png
  content/wiki/examples/esp/esp_mqtt_properties_example.png
Owners: @Shaquu

Create esp_mqtt_server_configuration_example.png
  content/wiki/examples/esp/esp_mqtt_server_configuration_example.png
Owners: @Shaquu

Create esp_mqtt_server_login_configuration_example.png
  content/wiki/examples/esp/esp_mqtt_server_login_configuration_example.png
Owners: @Shaquu

Create index.md
  content/wiki/examples/esp/index.md
Owners: @Shaquu, @caitken-com, @crxporter, @TheNON75

Delete esp_basic_principle_example.png
  content/wiki/examples/esp_basic_principle_example.png
Owners: @Shaquu

Delete esp_mqtt_properties_example.png
  content/wiki/examples/esp_mqtt_properties_example.png
Owners: @Shaquu

.github/CODEOWNERS:

*       @Shaquu
*.js    @Shaquu @caitken-com
*.css    @Shaquu @caitken-com
*.md    @Shaquu @caitken-com @crxporter @TheNON75
